In [39]:
import sys
import pandas as pd
from geotext import GeoText
import time
import operator

In [2]:
df_ent = pd.read_csv('ent_tweets_world.csv', delimiter='\t', na_values=".",error_bad_lines=False)#,warn_bad_lines=False)
print(df_ent.shape)
print(df_ent.columns)

rows_ent=list(df_ent[['user_id', 'location_profile']].itertuples(index=False, name=None)) #rows_ent0
del df_ent
print("Number of tweets in ent:",len(rows_ent))  #rows_ent0
print('Memory size of ent:',sys.getsizeof(rows_ent))

(47604376, 4)
Index(['user_id', 'tweet', 'tweet_created_at', 'location_profile'], dtype='object')
Number of tweets in ent: 47604376
Memory size of ent: 402267520

In [6]:
df_mng = pd.read_csv('mng_tweets_world.csv', delimiter='\t', na_values=".",error_bad_lines=False,warn_bad_lines=False)
print(df_mng.shape)
print(df_mng.columns)

rows_mng=list(df_mng[['user_id', 'location_profile']].itertuples(index=False, name=None)) #rows_mng0

del df_mng
print(len(rows_mng)) #rows_mng0
print('size of mng:', sys.getsizeof(rows_mng)) #rows_mng0

(46502302, 4)
Index(['user_id', 'tweet', 'tweet_created_at', 'location_profile'], dtype='object')
46502302
size of mng: 402267520

In [7]:
US_states =set(["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"])

In [17]:
def find_country(text):
    if text == text:
    
        country_temp=set()
        
        if ("US" in text) or ("USA" in text) or ('Florida' in text):
            country_temp.add('US')
            
        elif "UK" in text:
            country_temp.add('GB')
            
        elif ("Sydney" in text) or   ("Melbourne" in text):
            country_temp.add('AU')
            
        else:
            sub_text=text.split(' ')
            for sub in sub_text:
                if sub in US_states:
                    country_temp.add('US')
                
        if len(country_temp)==0:
            countries = GeoText(text).country_mentions
            country_temp.update(set(list(countries))) 
            
        if len(country_temp)==0:
            country_temp=set('0')
        
    else:
        country_temp=set('0')
            
    country_temp = ', '.join(country_temp)

    return country_temp

In [10]:
rows_ent[0]

(3087448180, ' Wareham, Dorset UK ')

In [55]:
rows_ent[10000]

(858581077, nan)

In [33]:
t0=time.time()

dic_countries_ent=dict()

for text in rows_ent:
    temp=find_country(text[1])      
    
    if temp not in dic_countries_ent:
        dic_countries_ent[temp]= 1
    else:
        dic_countries_ent[temp] +=1
        
print(time.time()-t0)

521.5237512588501

# Number of tweets for ent (based on detected countries)

In [53]:
dict(sorted( dic_countries_ent.items(),key=operator.itemgetter(1), reverse=True))

{'0': 15610226,
 'US': 14628346,
 'NG': 2699899,
 'ZA': 2047469,
 'IN': 2002181,
 'GB': 1991441,
 'PT, NG': 1446992,
 'CA': 753496,
 'KE': 662004,
 'GH': 488315,
 'AU': 364450,
 'PT': 329441,
 'CA, US': 301048,
 'UG': 268430,
 'PK': 263858,
 'ZW': 176964,
 'PH': 175377,
 'JM': 137615,
 'DE': 121608,
 'ZM': 106902,
 'IE': 97519,
 'GB, US': 88982,
 'AE': 86866,
 'BW': 84517,
 'MY': 83324,
 'SG': 74498,
 'NZ': 73030,
 'FR': 73007,
 'TZ': 63310,
 'IE, US': 63188,
 'BE': 59504,
 'NA': 57855,
 'PK, IN': 57420,
 'CH': 55485,
 'MW': 54916,
 'BR': 51762,
 'SE': 48293,
 'NL': 45239,
 'CM': 43752,
 'FI': 43688,
 'BR, US': 42572,
 'US, FR': 38735,
 'ES': 36729,
 'LK': 35627,
 'ID': 35282,
 'BS': 34751,
 'TH': 31453,
 'JP': 31348,
 'UY': 30594,
 'GE, US': 28178,
 'RW': 25896,
 'EG': 24982,
 'IT': 24071,
 'JE': 23965,
 'GE': 21814,
 'CN': 21325,
 'VE': 20956,
 'BB': 19748,
 'DK': 17983,
 'SL': 17973,
 'BH': 17850,
 'CA, GB': 16872,
 'HK': 16766,
 'US, IN': 16656,
 'IL': 15586,
 'LS': 15565,
 'LB': 15404,
 'BM': 14355,
 'PR': 14228,
 'ZA, US': 14117,
 'VE, US': 14019,
 'CA, NG': 13709,
 'MX': 13522,
 'GH, GB': 12907,
 'CY': 12658,
 'ET': 12057,
 'NZ, US': 11777,
 'AT': 11500,
 'QA': 11455,
 'NG, US': 11345,
 'SS': 11300,
 'JM, US': 11274,
 'RO': 10939,
 'TR': 10789,
 'CZ': 10766,
 'NL, US': 10765,
 'SO': 10600,
 'BD': 10277,
 'GB, NG': 10017,
 'KW': 9931,
 'SA': 9882,
 'BG': 9577,
 'LU': 8863,
 'MV': 8802,
 'CO': 8769,
 'KR': 8761,
 'US, AU': 8504,
 'GH, NG': 8480,
 'ZA, ZW': 8454,
 'KE, UG': 8217,
 'SZ': 8190,
 'PL': 8137,
 'OM': 8091,
 'VN': 8030,
 'NO': 7573,
 'GB, IN': 7468,
 'AE, PK': 7420,
 'PK, US': 7315,
 'SI': 7280,
 'CH, US': 7035,
 'RS': 6869,
 'GM': 6843,
 'PH, IN': 6717,
 'HR': 6653,
 'CU': 6489,
 'NE': 6374,
 'MU': 6372,
 'AF': 6296,
 'KE, US': 6174,
 'GR': 6167,
 'VE, ES': 6145,
 'LT': 6083,
 'KE, GB': 6078,
 'PR, US': 6014,
 'GB, DE': 6006,
 'PA': 5928,
 'CR': 5875,
 'MX, US': 5832,
 'IT, US': 5628,
 'LC': 5583,
 'LV': 5400,
 'PT, BJ, NG': 5305,
 'EE': 5148,
 'ID, CM': 5139,
 'NP': 5117,
 'BS, US': 5088,
 'NG, DE': 5027,
 'RU': 4615,
 'AO': 4583,
 'AR': 4369,
 'BJ': 4368,
 'ZA, PH': 4163,
 'GH, US': 4022,
 'MC': 3880,
 'JO': 3738,
 'TW': 3649,
 'CA, TH': 3470,
 'CR, US': 3465,
 'NE, NG': 3457,
 'CI': 3256,
 'CD': 3255,
 'SG, ID': 3221,
 'MK': 3220,
 'KH': 3194,
 'HN': 3168,
 'SN': 3166,
 'FI, SG': 3149,
 'IN, US': 3145,
 'GB, JE, US': 3142,
 'QA, GB, IN': 3140,
 'VN, TH, US': 3123,
 'JE, US': 3112,
 'RW, GB': 3108,
 'MZ, EG, US': 3106,
 'GR, US': 3100,
 'ZA, CA': 3096,
 'XK': 3087,
 'KE, ZA, GB': 3079,
 'BZ, GB': 3076,
 'HT': 3074,
 'PH, NZ': 3065,
 'GH, AU': 3057,
 'ID, US': 3049,
 'NL, GB': 3047,
 'ZA, LS': 3040,
 'BB, JM': 3038,
 'IS': 3032,
 'HK, US': 3031,
 'AE, IN': 3026,
 'GR, IT, MX, GB': 3023,
 'IE, CN, ES': 3023,
 'GY, US': 3018,
 'SG, US': 3013,
 'PH, CL': 3007,
 'US, MC': 3005,
 'IL, CZ': 2990,
 'AS': 2988,
 'GB, DE, US': 2983,
 'AE, NG': 2972,
 'DZ': 2971,
 'UY, US': 2970,
 'GH, SL': 2959,
 'PT, CN': 2952,
 'IT, GB, ES': 2950,
 'VE, CO': 2944,
 'CA, CN': 2943,
 'FI, PH': 2941,
 'CH, FR': 2922,
 'KE, UG, NG': 2915,
 'AE, NP, IN': 2905,
 'CO, US': 2896,
 'ZA, BR': 2895,
 'ZW, BW': 2894,
 'TN': 2890,
 'KE, UG, RW': 2889,
 'AW': 2886,
 'GB, CO': 2873,
 'LA': 2869,
 'PH, JP': 2868,
 'ES, US': 2846,
 'PT, US': 2846,
 'KR, US': 2837,
 'GB, AU': 2830,
 'CA, JM': 2824,
 'AE, GB, NG': 2817,
 'AT, US': 2802,
 'GH, CA, GB': 2797,
 'NG, ES': 2782,
 'CH, TZ, IN': 2758,
 'BO': 2756,
 'AQ': 2749,
 'AE, PK, US': 2744,
 'ZA, SZ': 2727,
 'DK, US': 2719,
 'PT, GB': 2718,
 'UG, US': 2711,
 'MZ': 2706,
 'RU, US': 2704,
 'CL': 2700,
 'BB, GB': 2698,
 'MA': 2688,
 'BI': 2647,
 'CH, GB, US': 2646,
 'BG, US': 2632,
 'SC': 2624,
 'CA, GB, US': 2567,
 'ES, DE, IN': 2555,
 'AE, OM, BH': 2544,
 'JP, NG': 2531,
 'ZA, ZM, SZ': 2521,
 'MH': 2515,
 'CD, IN': 2487,
 'KE, CA, GB': 2459,
 'ZW, ZM': 2456,
 'KE, SO': 2451,
 'KE, AE': 2447,
 'CA, MY, CR': 2437,
 'IL, GB, US': 2436,
 'DE, IN': 2433,
 'HU': 2428,
 'NG, IN': 2414,
 'CN, NG': 2346,
 'TR, IN': 2292,
 'DE, US': 2253,
 'SG, IN': 2225,
 'PR, ES': 2197,
 'BG, GB': 2182,
 'ZA, NA': 2172,
 'IN, MA, ES': 2162,
 'VE, GB, US': 2160,
 'ZA, ZW, GB': 2152,
 'PT, CH': 2141,
 'CH, IN': 2141,
 'PK, SA': 2078,
 'SE, PK': 2076,
 'TZ, US': 2070,
 'HU, IN': 2049,
 'CY, UA, US': 2031,
 'DE, PH, PK': 2027,
 'ZA, CM': 2018,
 'PY': 1981,
 'NA, AO, MZ': 1947,
 'MQ': 1932,
 'CY, CH': 1857,
 'BN': 1824,
 'MY, PK': 1803,
 'CN, US': 1763,
 'GY': 1739,
 'ME': 1732,
 'PT, ES': 1697,
 'ZA, NO': 1686,
 'CY, NG, GH': 1685,
 'NL, ES': 1679,
 'SM': 1613,
 'SG, AE, US': 1602,
 'CA, MX, US': 1554,
 'BZ': 1550,
 'CH, BR, US': 1528,
 'CM, CI': 1496,
 'ZA, GB': 1487,
 'ES, SA': 1456,
 'IN, GB, US': 1394,
 'CO, MX': 1344,
 'UG, NG': 1285,
 'CM, NG': 1272,
 'SG, PH': 1256,
 'PE, US': 1173,
 'PH, US': 1173,
 'IE, GB, CW': 1124,
 'US, HN': 1086,
 'HT, FR': 1063,
 'PT, CA, NG': 952,
 'YE': 921,
 'TG': 901,
 'GH, GB, US': 842,
 'SV': 645,
 'AT, CH, DE': 633,
 'UA': 612,
 'BJ, NG': 592,
 'NG, CO': 558,
 'HK, KR, CN': 549,
 'GH, PT, NG': 541,
 'GT': 530,
 'KE, PT': 501,
 'FI, IN': 424,
 'CA, IN': 418,
 'KY': 401,
 'QA, LK': 379,
 'MT, CA, IE, ES': 370,
 'AL': 345,
 'MT': 337,
 'ZA, ZM': 336,
 'FR, US': 325,
 'SK': 293,
 'SD': 289,
 'OM, LB': 269,
 'CG': 227,
 'GP': 214,
 'MM': 213,
 'US, GP, FR': 176,
 'MN': 176,
 'IR': 172,
 'DJ, GB': 162,
 'EC': 150,
 'CA, GB, MC': 101,
 'ZM, US': 87,
 'SG, MY': 79,
 'PE': 61,
 'AZ': 54,
 'CA, DE, FR': 26,
 'ML': 20,
 'CA, GR': 9,
 'CA, IE': 6}

In [35]:
t0=time.time()

dic_countries_mng=dict()

for text in rows_mng:
    temp=find_country(text[1])
    
    if temp not in dic_countries_mng:
        dic_countries_mng[temp]= 1
    else:
        dic_countries_mng[temp] +=1
        
print(time.time()-t0)

530.3177587985992

# Number of tweets for mng (based on detected countries)

In [54]:
dict(sorted(dic_countries_mng.items(),key=operator.itemgetter(1), reverse=True))

{'0': 16497535,
 'US': 14676438,
 'GB': 5885690,
 'NG': 1091997,
 'ZA': 852646,
 'PT, NG': 792209,
 'IN': 746584,
 'AU': 742750,
 'CA': 683306,
 'CA, US': 303717,
 'IE': 282054,
 'KE': 230725,
 'DE': 222693,
 'GB, US': 204168,
 'PT': 200277,
 'GH': 193475,
 'UG': 166081,
 'PH': 148705,
 'SE': 121145,
 'PK': 120567,
 'NZ': 102246,
 'IE, US': 94546,
 'FR': 87088,
 'AE': 84454,
 'BE': 81620,
 'NL': 74202,
 'IT': 66739,
 'NO': 50756,
 'MY': 50068,
 'CH': 47665,
 'JM': 46972,
 'ES': 46829,
 'PK, IN': 44999,
 'SG': 42139,
 'PL': 41687,
 'BR': 39628,
 'JP': 34542,
 'ID': 30317,
 'FI': 30294,
 'VE': 30166,
 'US, FR': 28434,
 'ZM': 26810,
 'MX': 25840,
 'NL, US': 25717,
 'EG': 24257,
 'DK': 23419,
 'BG': 23027,
 'HK': 22749,
 'CA, GB': 22681,
 'IL': 22543,
 'BW': 21612,
 'LK': 20660,
 'SA': 20112,
 'UY': 18745,
 'US, AU': 18460,
 'ZW': 17156,
 'TR': 16981,
 'MV': 16494,
 'BR, US': 16184,
 'TZ': 16075,
 'ZA, GB': 15349,
 'AT': 15219,
 'ZA, US': 14905,
 'KR': 14359,
 'AT, US': 14308,
 'JE': 13284,
 'GE': 13253,
 'TH': 12526,
 'HR': 12149,
 'GB, AU': 12142,
 'NZ, US': 11769,
 'BD': 11553,
 'MT': 11365,
 'GE, US': 11268,
 'LB': 11234,
 'MW': 11152,
 'HU': 11084,
 'RU': 10720,
 'VE, ES': 10659,
 'CZ': 10592,
 'RO': 10032,
 'LU': 9875,
 'CM': 9780,
 'MA': 9101,
 'JM, US': 9060,
 'QA': 9056,
 'CH, US': 8971,
 'SI': 8723,
 'TT': 8430,
 'VN': 8109,
 'CO': 8051,
 'AR': 7777,
 'CN': 7463,
 'GI': 7461,
 'RU, US': 6805,
 'JO': 6754,
 'PT, US': 6634,
 'PR': 6192,
 'IE, GB': 6112,
 'BS': 5808,
 'IT, US': 5784,
 'CA, FR': 5718,
 'NP': 5682,
 'RW': 5556,
 'AQ': 5448,
 'CX': 5444,
 'BJ': 5414,
 'AF': 5344,
 'IQ': 5308,
 'KW': 5270,
 'CI': 5249,
 'ET': 4891,
 'EE': 4865,
 'AE, IN': 4861,
 'NG, IN': 4782,
 'IR': 4433,
 'BB': 4347,
 'OM': 4212,
 'SZ': 4101,
 'CL': 3995,
 'GR': 3848,
 'YE': 3668,
 'GB, ES': 3433,
 'ML': 3403,
 'PT, NG, US': 3383,
 'GG': 3309,
 'XK': 3308,
 'CC, NZ': 3176,
 'IS': 3163,
 'GB, NZ': 3160,
 'CA, JM, US': 3157,
 'GB, FR': 3138,
 'CA, ZW': 3133,
 'QA, EG': 3123,
 'ML, GB': 3101,
 'GB, JP, US': 3093,
 'UA, US': 3086,
 'BY': 3082,
 'ZA, AU': 3066,
 'BT': 3065,
 'ID, US': 3057,
 'MX, BR': 3054,
 'CZ, US': 3050,
 'HK, GB': 3030,
 'EC': 3022,
 'GN': 3021,
 'ZA, JO, SD': 3016,
 'AO': 3015,
 'US, PA': 3011,
 'MM': 2993,
 'PT, GM': 2972,
 'NG, US': 2939,
 'MZ': 2925,
 'TO': 2915,
 'GB, NG': 2914,
 'SV': 2909,
 'SD': 2903,
 'UG, MY': 2898,
 'AE, PK, IN': 2894,
 'TT, US': 2891,
 'IE, GB, US': 2889,
 'BA, GB': 2886,
 'PY': 2878,
 'DO': 2878,
 'VU': 2877,
 'ZA, ZW': 2871,
 'NL, GB': 2861,
 'DJ': 2860,
 'NA': 2860,
 'KW, IN': 2849,
 'AT, LI': 2832,
 'NL, CO': 2831,
 'LB, GB': 2828,
 'JP, US': 2823,
 'CA, DE, US': 2820,
 'GR, US': 2813,
 'SL': 2805,
 'CA, NG, DE': 2785,
 'SS': 2758,
 'PT, CA, FI': 2752,
 'CA, IN': 2734,
 'CY': 2655,
 'MX, ES': 2618,
 'CH, DK': 2609,
 'GU': 2583,
 'LS': 2537,
 'KE, SS, CN': 2503,
 'JM, KY': 2476,
 'GH, CA': 2437,
 'MC': 2420,
 'PR, US': 2367,
 'UG, US': 2365,
 'SL, GB': 2272,
 'SN': 2228,
 'RS': 2185,
 'LI': 2071,
 'GB, IN': 2060,
 'LV': 1965,
 'DZ, US': 1946,
 'SK': 1926,
 'HT': 1854,
 'ZA, BR': 1822,
 'LB, LY': 1785,
 'LT': 1738,
 'LY': 1717,
 'IN, US': 1716,
 'PA': 1699,
 'HR, US': 1481,
 'AR, US': 1459,
 'FR, US': 1400,
 'TN': 1329,
 'PG, GN': 1298,
 'PH, GB': 1274,
 'LC': 1265,
 'OM, IN': 1250,
 'GH, US': 1222,
 'BO': 1198,
 'ZA, PH': 1184,
 'SO': 1064,
 'LB, US': 1048,
 'ID, CM': 1008,
 'UA': 1001,
 'TM': 923,
 'KE, US': 893,
 'LR': 877,
 'NI, CL, FR': 753,
 'GB, DE': 732,
 'KE, SO': 657,
 'TW': 613,
 'EG, US': 610,
 'PE, US': 606,
 'PT, BR': 598,
 'BH': 591,
 'NC, NZ': 583,
 'KH': 554,
 'MN': 529,
 'BZ, US': 508,
 'RS, TR': 492,
 'MA, US': 475,
 'UY, BO': 469,
 'CR, US': 466,
 'CR': 460,
 'PH, IN': 436,
 'GB, DE, US': 396,
 'CA, JE': 390,
 'ES, US': 268,
 'GT, SV': 255,
 'FJ': 230,
 'GB, BR': 227,
 'AZ': 221,
 'CD': 200,
 'TG': 165,
 'GM': 147,
 'DM': 144,
 'IT, TW': 140,
 'GT': 124,
 'PS': 121,
 'DZ': 74,
 'AL': 39,
 'ZA, DE': 24}